appdirs
attrs
certifi
cffi
chardet
cycler
decorator
docxtpl
dukpy
future
idna
ipython-genutils
javascripthon
Jinja2
jsonschema
jupyter-core
jupyter-echarts-pypkg
kiwisolver
lml
lxml
macropy3
MarkupSafe
matplotlib
nbformat
numpy
opencv-python
Pillow
plotly
prettytable
pycparser
pyecharts
pyecharts-javascripthon
pyecharts-jupyter-installer
pyecharts-snapshot
pyee
pyparsing
pyppeteer
pyrsistent
python-dateutil
python-docx
python-vlc
pytz
pyzmq
requests
retrying
selenium
six
snapshot-selenium
tqdm
traitlets
urllib3
websockets
